body {
    width: 100%;
    height: 100%;
    background-image: url(../img/mine.jpg);
}

.no-padding {
    padding: 0;
}

.text-grey {
    color: grey;
}

.bg-wagrey {
    background-color: #EAEAEA;
}

.bg-waocean {
    background-color: #8EDAFC;
}

.bg-deeperocean {
    background-color: #009688;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 125px;
    width: 100%;
}
.sidebar-header-left {
    margin-left: 15px;
}

.sidebar-header-right {
    margin-right: 15px;
    font-size: 20px;
}

.sidebar-header-right .fas, .sidebar-header-right .far {
    padding: 0 10px;
}

.user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.container .row {
    margin-top: 25px;
}

.sidebar {
    background-color: white;
    height: 672px;
    position: relative;
    z-index: 2;
    border-right: 1px solid lightgrey;
}

.searchbox {
    height: 50px;
    width: 100%;
}

.searchbox input {
    width: 80%;
    height: 30px;
}

.notify {
    height: 80px;
    width: 100%;
}

/* Regole Chatbox */

.chat-header, .sidebar-header {
    height: 100px;
    width: 100%;
}


.chat-body {
    height: 672px;
    overflow-y: scroll;
}

.chat-input {
    width: 100%;
    height: 80px;
}

.chat-input input {
    outline: none;
    width: 70%;
    height: 40px;
    padding: 15px;
}
/* Regole Footer */