body {
    width: 100%;
    height: 100%;
    background-image: url(../img/mine.jpg);
}

.bg-wagrey {
    background-color: #EAEAEA;
}

.bg-waocean {
    background-color: #8EDAFC;
}

.container .row {
    margin-top: 25px;
}

.sidebar {
    background-color: white;
    height: 672px;
    position: relative;
    z-index: 2;
    border-right: 1px solid lightgrey;
}

.sidebar-top {

}

.sidebar-notify {

}

/* Regole Chatbox */

.chat-body {
    height: 672px;
    background-color: red;
}

.chat-input {

}

.chat-input input {

}
/* Regole Footer */